.form-control:focus {
   border-color:#eb1c24;
   box-shadow: none;
}
a{
   color: #eb1c24;
}
a:hover{
   color: #eb1c24;
   font-weight:bold;
}
.color-red{
   color: #eb1c24;
}

.btn-danger-e{
   color: #fff;
   background-color: #eb1c24;
   border-color: #eb1c24;
}
.btn-danger-e:hover{
   color: #fff;
   background-color: #e01c24;
   border-color: #eb1c24;
}
.preloader{
   width: 100%;
   height: 100%;
   top: 0px;
   position: fixed;
   z-index: 99999;
   background: #fff;
}

.lds-ripple {
   display: inline-block;
   /* position: relative; */
   width: 64px;
   height: 64px;
   position: absolute;
   top: calc(50% - 3.5px);
   left: calc(50% - 3.5px);
}

.df-logo span{
   color: #eb1c24;
}
.navbar-menu .nav-link{
   color:#eb1c24;
}
.navbar-menu .nav-link:hover{
   color:#eb1c24;
   font-weight: bold;
}
.navbar-menu .nav-item.active .nav-link{
   font-weight: bold;
   color:#eb1c24;
}
.navbar-menu-sub .nav-sub-link:hover{
   color:#eb1c24;
}
/* .navbar-header .navbar-brand{
   width: 150px;
} */
.navbar-menu-sub{
   padding: 10px 23px;
}
.sidebar-nav .nav-link{
   color:#eb1c24;
}
.sidebar-nav .nav-link.active{
   color:#eb1c24;
   font-weight: bold;
}
.sidebar-nav .nav a.active{
   color:#eb1c24;
   font-weight: bold;
}

.sidebar-nav .nav a:hover{
   color:#eb1c24;
   font-weight: bold;
}
.sidebar-nav .nav{
   margin-left: 0px;
   padding-left: 15px;
}
.sidebar-body{
   padding:20px;
}
.sidebar-fixed{
   width: 200px;
}
.sidebar-nav .nav{
   border:0px;
}
.sidebar-nav .nav a.active::before{
   border:0px;
}
.sidebar-nav .nav-link.active::before{
   background-color:#fff;
}
.df-title{
   margin-bottom: 0px;
   font-size:25px;
   font-weight: bold;
}
.spinner-border{
   border:0.15em solid red;
   border-right-color: transparent;
}
@media (min-width: 992px){
   .content-components {
      margin-left:200px;
   }
}
@media (min-width: 992px){
   .content-components {
      margin-top: 45px;
   }
}

.loading{
   position:relative;min-height:60px
}
.loading .spinner{
   position:absolute;
   width:40px;height:40px;
   top:50%;
   left:50%;
   margin-top:-20px;
   margin-left:-20px;
   border:2px solid #e00;border-top:2px solid transparent;
   border-radius:100%;
   -webkit-animation:rotation .6s infinite linear;
   -moz-animation:rotation .6s infinite linear;
   -o-animation:rotation .6s infinite linear;
   animation:rotation .6s infinite linear;
}