/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.page-container.horizontal-menu header.navbar .navbar-brand{
	padding:12px;
	/*margin-right: 10px;*/
	margin-left: 10px;
	/*border:1px solid black;*/
}

.page-container.horizontal-menu header.navbar{
	background-color: #fff;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li > a{
	padding: 7px 7px;
	margin-top: 9px;
	margin-right: 5px;
	border-bottom: 1px solid #e8e4e4;	
	border-right: 0px;
	/*border: 0px;*/
	color: #8c8c8c;
	font-weight: bold;
	/*text-transform: uppercase;*/
}
.page-container.horizontal-menu{
	padding-top: 50px;
}
.page-container.horizontal-menu header.navbar .navbar-nav{
	border: 0px;
}
.page-container.horizontal-menu.with-sidebar header.navbar{
	border-bottom: 1px solid #f3f3f3;
}
.page-container .sidebar-menu{
	background-color: #fdfdfd;
	border-right: 1px solid #f3f3f3;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li.active > a{
	background-color: #8c8c8c;
}
.page-container .sidebar-menu #main-menu li{
	border-bottom: 1px solid #f3f3f3;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li > a:hover{
	background-color: #8c8c8c;
	color:#fff;
}
.page-container .sidebar-menu #main-menu li a:hover {
	color:#005389;
	background-color: #f1f1f1;
}
.page-container .sidebar-menu #main-menu li.active > a{
	background-color: #f1f1f1;
	color:#005389;	
}
.page-container.horizontal-menu header.navbar .nav-position-right .choose-topic > a:hover{
	background-color: #8c8c8c;
	color:#fff;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li ul{
	border: 1px solid #8c8c8c;
	background-color: #fff;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li ul li a:hover{
	background-color: #8c8c8c;
	color:#fff;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li.active.has-sub > a:after{
	border-color: #f16161 transparent transparent transparent;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li ul{
	min-width: 200px;
}

.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 2px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
	padding : 6px 3px;
}
.page-container.horizontal-menu header.navbar .navbar-nav > li ul li a{
	border:0;
	color:#8c8c8c;
	font-weight: bold;
}
.btn-danger{
    color: #fff;
    background-color: #f16161;
    border-color: #f16161;
}
th{
    color: #005389;
    font-weight: bold;
    font-size: 13px;
}
.panel > .panel-heading .panel-title{
	font-size: 14px;
	color:#8c8080;
}
.panel-title{
	/*color:#f16161;*/
	font-weight: bold;
}

.text-danger{
	color:#f16161;
}

.member-list > a:hover{
	background-color: red;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	/*padding-left: 5px;*/
	/*padding-right: 5px;*/
}

/*.page-body .daterangepicker.dropdown-menu .calendar .calendar-date table .active{
	background: #f16161;
}*/
/*.daterangepicker{
	border:1px solid #f16161;
}
.daterangepicker:before{
	border-bottom: 7px solid #f16161;
}*/
/*.daterangepicker select.monthselect{
	border: 1px solid #f16161;
}
.daterangepicker select.yearselect{
	border: 1px solid #f16161;
}
.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span{
	color: #fff;
    border:solid #f16161;
    border-width: 0 2px 2px 0;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
}*/
/*.daterangepicker td.active, .daterangepicker td.active:hover{
	background: #f16161;
}*/
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
	line-height: 4px;
}
/*.page-body .select2-container .select2-choice{
	height:30px;
  	line-height:30px;
}
#select2-drop{
   z-index: 9999999999;
}
.page-body .select2-container .select2-choices{
	padding-top: 0px;
}
.select2-container-multi .select2-choices{
	height: 28px;
}
.select2-container-multi .select2-choices .select2-search-choice{
	line-height: 10px;
	margin: 2px;
}*/
/*.form-control.select2-container{
	height: 28px;
}
.select2-container-multi .select2-choices{
	height: none;
}
.page-body .select2-container .select2-choices{
	padding: 0px;
}
.select2-container-multi .select2-choices .select2-search-field{
	height: 27px;
}*/

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3e3e3e;
}	
.select2-container .select2-selection--single{
  height: 30px;
}
.select2-selection--multiple{
  overflow: hidden !important;
  height: auto !important;
}
   
.modal .modal-content{
	/*border: 2px solid #0072bc;*/
}

.page-container.horizontal-menu.with-sidebar .main-content{
	background-color: #f7f7f7;
}
/*.modal .modal-header .close{
	background-color: #f16161;
	color: #fff; 
}*/
.brand-title{
	font-weight: bold;
    /*border-right: 1px solid #d8d8d8;*/
    /*letter-spacing: 0.4px;*/
    padding-right: 5px;
    margin-right: 3px;
    font-size: 13px;
    color: #5d5555;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
 	background-color: #005389;
	border-color: #005389;
}

.simple-pagination{
	overflow: unset;
}
.dropdown-menu.paging-dropdown{
    left: inherit;
    bottom: 5px;
    min-width: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.paging-dropdown > li > a{
	width: 50px
}

.addon-filter{
	background-color: #fbfbfb;
	font-weight: bold;
}
.page-container .sidebar-menu{
	width: 175px;
}
.page-container .sidebar-menu #main-menu li a{
	padding: 10px 9px;
	font-weight: bold;
}
.page-container .sidebar-menu #main-menu li i{
	margin-right: 0px;
}
.page-container .sidebar-menu #main-menu li.has-sub > a:before{
	color:#bdbdbd;
}
.page-container .sidebar-menu #main-menu li ul > li > a{
	padding-left: 20px;
}
.page-container .sidebar-menu #main-menu li ul{
	border-top:1px solid rgb(234 234 234 / 40%);
}
.page-container .sidebar-menu #main-menu li ul > li{
	border-bottom: unset;
}
.feedback-cont{
	background-color: #fdfdfd;
	border-color: #00a651;
	margin-top:5px;
	padding: 5px;
	font-size: 12px;
}
.reply-cont{
	background-color: #f7f7f7;
	margin-top:5px;
	padding: 5px;
	font-size: 12px;
}
.qcresult-cont{
	background-color: #fdfdfd;
	border-color: #21a9e1;
	margin-top:5px;
	padding: 5px;
	font-size: 12px;
}

.panel .blockUI.blockOverlay{
	background-image: url(../images/loader-1.gif);
}

.status-project{
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-top: 19px;
	width:100%;
}

.status-progress{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.list-attachment{
	background-color: #fbfbfb;padding: 2px 5px 2px 5px;border: 1px solid #ececec;
}

.attach-options{
  	display: inline-grid;
}

.lbl-status-act{
	font-size:12px;color:#fff;margin-top:5px;padding:3px;font-weight: bold;
}

.approved-label{
	cursor: pointer;
    color: #00a651;
    font-weight: bold;
}

.verified-label{
	cursor: pointer;
    color: #21a9e1;
    font-weight: bold;
}
.skin-black-light .sidebar-menu>li>a{
	font-weight: normal;
}
.skin-black-light .sidebar-menu>li.active>a{
	font-weight: normal;
}